<div id="home-page-container">

  <!-- Toast for notifications -->
  <p-toast />

  <!--
  
    Home title container
  
  -->
  
  <div
    appHomeTitleAnimation
    [idScrollableContainer]="'home-page-container'"
    [idLineTopLeft]="'home-title-left-line-v'"
    [idLineTopRight]="'home-title-left-line-h'"
    [idLineBottomRight]="'home-title-right-line-v'"
    [idLineBottomLeft]="'home-title-right-line-h'"
    [idBox]="'home-title-content'"
    id="home-title-container"
    class="home-container"
  >
    <!-- Left vertical line -->
    <div id="home-title-left-line-v-container">
      <div
        class="home-title-line"
        id="home-title-left-line-v"
      ></div>
    </div>

    <!-- Left horizontal line -->
    <div id="home-title-left-line-h-container">
      <div
      class="home-title-line"
        id="home-title-left-line-h"
      ></div>
    </div>

    <!-- Content -->
    <div id="home-title-content">
      <h1>Florian Alzaix</h1>
      @if (language() === 'en') {
        <p>Freelance full stack development</p>
      } @else if (language() === 'fr') {
        <p>Freelance développement full-stack</p>
      }
    </div>

    <!-- Right vertical line -->
    <div id="home-title-right-line-v-container">
      <div
        class="home-title-line"
        id="home-title-right-line-v"
      ></div>
    </div>

    <!-- Right horizontal line -->
    <div id="home-title-right-line-h-container">
      <div
        class="home-title-line"
        id="home-title-right-line-h"
      ></div>
    </div>
  </div>
  
  <div id="home-projects-container">
    @for (project of projects(); track project.title) {
      @let hasMedia = (project.image || project.video) !== undefined;

      <div
        class="home-project-container"
        [class.home-project-container-left]="$index % 2 === 0"
        [class.home-project-container-right]="$index % 2 !== 0"
      >

        @if (project.image && !isHandset()) {
          <div
            #container
            class="home-project-media"
            (click)="openFullScreen(container)"
          >
            <!-- Full screen button to close the full screen -->
            @if (isFullScreen()) {
              <p-button
                icon="pi pi-times"
                (onClick)="closeFullScreen()"
                class="full-screen-close-button"
                variant="text"
                [raised]="true"
                severity="danger"
              />
            }

            <img [src]="project.image" [alt]="project.title" />
          </div>
        } 
        @if (project.video && !isHandset()) {
          <div
            #container
            class="home-project-media"
            (click)="openFullScreen(container)"
          >
            <!-- Full screen button to close the full screen -->
            @if (isFullScreen()) {
              <p-button
                icon="pi pi-times"
                (onClick)="closeFullScreen()"
                class="full-screen-close-button"
                variant="text"
                [raised]="true"
                severity="danger"
              />
            }

            <video
              class="box"
              loop
              autoplay
              [muted]="true"
              playsinline
              alt="Project's video"
            >
              <source [src]="project.video" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        }

        <div
          appContentAnimation
          [idScrollableContainer]="'home-page-container'"
          [left]="$index % 2 === 0"
          [enabled]="isHandset() ?? false"
          class="home-project-content-container"
        >
          <!-- Lines for animation -->
          @if (hasMedia) {
            <div class="v-line"></div>
          }

          <div
            appVLineAnimation
            [idScrollableContainer]="'home-page-container'"
            [enabled]="hasMedia && !isHandset()"
            class="home-project-content"
            [style.align-self]="hasMedia ? 'flex-start' : 'center'"
            [style.width]="hasMedia ? '100%' : '80%'"
          >
            <h2>
              @if (project.smallAnimation) {
                <div [innerHTML]="project.smallAnimation"></div>
              }
              {{ project.title }}
            </h2>

            <p-fieldset [legend]="language() === 'en' ? 'Goal' : 'Objectif'">
              <p>{{ project.goal }}</p>
            </p-fieldset>

            <div class="home-project-details">
              <p-fieldset
                legend="Technologies"
                class="home-project-details-left"
              >
                <p-timeline
                  [value]="project.techs"
                  [align]="'alternate'"
                >
                  <ng-template #content let-tech>
                    {{ tech }}
                  </ng-template>
                </p-timeline>
              </p-fieldset>
              
              @if (project.note) {
                <p-fieldset
                  legend="Note"
                  class="home-project-details-right"
                >
                  <p>{{ project.note }}</p>
                  @if (project.link) {
                    <div class="home-project-details-right-button">
                      <a pButton [href]="project.link" target="_blank">
                        <i class="pi pi-external-link"></i>
                      </a>
                    </div>
                  }
                  @if (project.code) {
                    <div class="home-project-details-right-button">
                      <a pButton [href]="project.code" target="_blank">
                        <i class="pi pi-code"></i>
                      </a>
                    </div>
                  }
                </p-fieldset>
              }
              
              @if (project.image && isHandset()) {
                <p-fieldset legend="Media" class="home-project-media">
                  <img [src]="project.image" [alt]="project.title" />
                </p-fieldset>
              }
              @if (project.video && isHandset()) {
                <p-fieldset legend="Media" class="home-project-media">
                  <video
                    class="box"
                    loop
                    autoplay
                    [muted]="true"
                    playsinline
                    alt="Project's video"
                  >
                    <source [src]="project.video" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </p-fieldset>
              }
            </div>
          </div>
        </div>
      </div>
    }
  </div>

  <div id="home-contact-container">
    <div
      appMenuAnimation
      [mainContentId]="'home-projects-container'"
      [idScrollableContainer]="'home-page-container'"
      [bottomAndNotTop]="false"
      [enabled]="isHandset() ?? false"
      id="home-contact-content"
    >
      <div class="home-content-line"></div>
      <a pButton [href]="'http://www.linkedin.com/in/florian-alzaix-7470362b7'" target="_blank">
        <i class="pi pi-linkedin"></i>
      </a>
      <div class="home-content-line"></div>
      <div
        id="home-contact-content-email"
        (click)="copyToClipboard('floalzfencing@gmail.com')"
      >
        <i class="pi pi-copy" style="font-size: 0.8rem;"></i>
        <span>floalzfencing@gmail.com</span>
      </div>
      <div class="home-content-line"></div>
      <a pButton [href]="'https://github.com/floalzaix'" target="_blank">
        <i class="pi pi-github"></i>
      </a>
      <div class="home-content-line"></div>
    </div>
  </div>

  <div id="home-menu-container">
    <div
      appMenuAnimation
      [mainContentId]="'home-projects-container'"
      [idScrollableContainer]="'home-page-container'"
      [bottomAndNotTop]="true"
      [enabled]="isHandset() ?? false"
      id="home-menu-content"
    >
      <div class="home-content-line"></div>
      <p-button
        icon="pi pi-sun"
        (onClick)="toggleTheme()"
      /> 
      <div class="home-content-line"></div>
      <p-button
        icon="pi pi-language"
        (onClick)="language.set(language() === 'en' ? 'fr' : 'en')"
      /> 
      <div class="home-content-line"></div>
    </div>
  </div>

  <div id="home-footer-container"> 
    <p-divider>
      <a pButton (click)="isLegalDialogVisible.set(true)">
        @if (language() === 'en') {
          Legal notice
        } @else if (language() === 'fr') {
          Mentions légales
        }
      </a>
      <p-dialog
        [(visible)]="isLegalDialogVisible"
        [modal]="true"
        [header]="language() === 'en' ? 'LEGAL NOTICE' : 'MENTIONS LEGALES'"
      >
        @if (language() === 'fr') {
          <h2>Éditeur du site</h2>
          Nom : Florian Alzaix <br />
          Adresse : Dijon - France <br />
          Contact : floalzafencing@gmail.com <br /> <br />

          <h2>Hébergeur</h2> <br />
          OVHcloud - 2 rue Kellermann, 59100 Roubaix, France - https://www.ovhcloud.com <br /> <br />

          <h2>Propriété intellectuelle</h2> <br />
          Sauf mention contraire, l'ensemble des contenus (textes, images, projets, code) présentés sur ce site est la propriété de Florian Alzaix et ne peut être réutilisé sans autorisation préalable.
        } @else if (language() === 'en') {
          <h2>Site owner</h2> <br />
          Name: Florian Alzaix <br />
          Address: Dijon - France <br />
          Contact: floalzfencing@gmail.com <br /> <br />

          <h2>Hosting provider</h2> <br />
          OVHcloud - 2 rue Kellermann, 59100 Roubaix, France - https://www.ovhcloud.com <br /> <br />

          <h2>Intellectual property</h2> <br />
          Unless otherwise stated, all content (texts, images, projects, code) displayed on this website is the property of Florian Alzaix and may not be reused without prior permission.
        }
      </p-dialog>
    </p-divider>
  </div>
</div>
