<div id="home-page-container"
  (wheel)="$wheelEvent.set($event)"
  [style.overflow]="state().is(StateEntry) || state().is(StateIntro) ? 'auto' : 'auto'"
>
  <div id="home-title-container" class="home-container">

    <!-- Left vertical line -->
    <div id="home-title-left-line-v-container">
      <div
        class="home-title-line"
        id="home-title-left-line-v"
      ></div>
    </div>

    <!-- Left horizontal line -->
    <div id="home-title-left-line-h-container">
      <div
      class="home-title-line"
        id="home-title-left-line-h"
      ></div>
    </div>

    <!-- Content -->
    <div id="home-title-content">
      <h1>Florian Alzaix</h1>
      <p>Freelance full stack development</p>
    </div>

    <!-- Right vertical line -->
    <div id="home-title-right-line-v-container">
      <div
        class="home-title-line"
        id="home-title-right-line-v"
      ></div>
    </div>

    <!-- Right horizontal line -->
    <div id="home-title-right-line-h-container">
      <div
        class="home-title-line"
        id="home-title-right-line-h"
      ></div>
    </div>
  </div>
  
  <div id="home-projects-container">
    @for (project of projects(); track project.title) {
      <div
        class="home-project-container"
        [class.home-project-container-left]="$index % 2 === 0"
        [class.home-project-container-right]="$index % 2 !== 0"
      >
          @if (project.image) {
            <div class="home-project-media">
              <img [src]="project.image" [alt]="project.title" />
            </div>
          } 
          @if (project.video) {
            <div class="home-project-media">
              <video loop autoplay [muted]="true" playsinline alt="Project's video">
                <source [src]="project.video" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          }
        <div class="home-project-content">
          <h2>{{ project.title }}</h2>
          <p>{{ project.goal }}</p>
          <ul>
            @for (tech of project.techs; track tech) {
              <li>{{ tech }}</li>
            }
          </ul>
          @if (project.link) {
            <a [href]="project.link" target="_blank">Link</a>
          }
          <p>{{ project.note }}</p>
        </div>
      </div>
    }
  </div>

  <div id="home-contact-container">
    <h2>floalzfencing@gmail.com</h2>
  </div>
</div>
