#home-page-container {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 60px auto 60px;
  grid-template-areas: 
    "title title title"
    "contact projects menu";

  overflow: auto;
}

.home-container {
  height: 100vh;
  width: 100%;
}

/**
 *   Home title
 */

#home-title-container {
  position: relative;

  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: title;

  background-color: var(--p-surface-color);

  /**
   *   Variables
   */

  --home-container-content-width: 335px;
  --home-container-content-height: 150px;
}

#home-title-container h1 {
  margin: 0;
}

#home-title-container p {
  margin: 0;

  font-size: 0.9rem;
  color: var(--p-accent-color);
}

#home-title-content {
  width: calc(var(--home-container-content-width) - 2px);
  height: calc(var(--home-container-content-height) - 2px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background-color: var(--p-background);
}

/* Home container lines */

.home-title-line {
  position: absolute;
  z-index: 999;

  --start-point: 0.45;
}

#home-title-left-line-v {
  top: 0;
  left: calc(50% - var(--home-container-content-width) / 2);

  width: 1px;
  height: calc(50% + var(--home-container-content-height) / 2);

  transform-origin: bottom;

  background: linear-gradient(
    to bottom,
    var(--p-surface-color),
    var(--p-tertiary-color),
    var(--p-secondary-color),
    var(--p-primary-color),
    var(--p-fifth-color)
  );
}

#home-title-left-line-v-container {
  --dir-y: -1;
  --dir-x: 1;
}

#home-title-left-line-h {
  top: calc(50% - var(--home-container-content-height) / 2);
  left: calc(50% - var(--home-container-content-width) / 2);

  width: calc(50% + var(--home-container-content-width) / 2);
  height: 1px;

  transform-origin: left;

  background: linear-gradient(
    to left,
    var(--p-surface-color),
    var(--p-tertiary-color),
    var(--p-secondary-color),
    var(--p-primary-color),
    var(--p-fifth-color)
  );
}

#home-title-left-line-h-container {
  --dir-y: 1;
  --dir-x: 1;
}

#home-title-right-line-v {
  top: calc(50% - var(--home-container-content-height) / 2);
  left: calc(50% + var(--home-container-content-width) / 2);

  width: 1px;
  height: calc(50% + var(--home-container-content-height) / 2);

  transform-origin: top;

  background: linear-gradient(
    to top,
    var(--p-surface-color),
    var(--p-tertiary-color),
    var(--p-secondary-color),
    var(--p-primary-color),
    var(--p-fifth-color)
  );
}

#home-title-right-line-v-container {
  --dir-y: 1;
  --dir-x: -1;
}

#home-title-right-line-h {
  top: calc(50% + var(--home-container-content-height) / 2);
  left: 0;

  width: calc(50% + var(--home-container-content-width) / 2);
  height: 1px;

  transform-origin: right;

  background: linear-gradient(
    to right,
    var(--p-surface-color),
    var(--p-tertiary-color),
    var(--p-secondary-color),
    var(--p-primary-color),
    var(--p-fifth-color)
  );
}

#home-title-right-line-h-container {
  --dir-y: -1;
  --dir-x: -1;
}

/**
 *   Home projects container
 */

.home-project-container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: projects;
}

.home-project-content {
  margin: min(30px, 2%);
  padding: 25px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px;

  background-color: var(--p-surface-color);
  border: 1px solid;
  border-image: linear-gradient(
    45deg,
    var(--p-background),
    var(--p-tertiary-color),
    var(--p-secondary-color),
    var(--p-primary-color),
    var(--p-background)
  ) 1;
}

.home-project-content p {
  margin: 0;
}

.home-project-content > h2 {
  text-align: center;
}

/* Projects details */

.home-project-details {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.home-project-details > p-fieldset {
  flex: 1;
}

.home-project-details p-timeline {
  font-size: 0.65rem;

  --p-timeline-event-min-height: 40px;
}

.home-project-details ::ng-deep .p-timeline-event {
  width: 100%;
}

.home-project-details ::ng-deep .p-timeline-event-content {
  word-break: break-word;
}

/* Projects details left */

.home-project-details-left ::ng-deep .p-fieldset {
  padding-right: 0 !important;
  padding-left: 10px !important;
}

/* Projects details right */

.home-project-details-right ::ng-deep .p-fieldset {
  height: 100%;
}

.home-project-details-right ::ng-deep .p-fieldset-content-container {
  height: 100%;
}

.home-project-details-right ::ng-deep .p-fieldset-content {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.home-project-details-right-button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-project-details-right-button a {
  text-decoration: none;
  border-radius: 0;
}

/* Projects media */

.home-project-media {
  min-width: 50%;
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient(
    circle at center,
    var(--p-background) 20%,
    var(--p-fifth-color) 27%,
    var(--p-secondary-color) 40%,
    var(--p-primary-color) 50%,
    var(--p-secondary-color) 60%,
    var(--p-tertiary-color) 70%,
    var(--p-background) 71%
  );
}

.home-project-media img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.home-project-media video {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

/* Projects container left */

.home-project-container-left {
  flex-direction: row-reverse;
}

/**
 *   Home contact container
 */

#home-contact-container {
  grid-area: contact;
}

#home-contact-content {
  position: sticky;
  top: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-contact-content-email {
  width: 60px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 0.9rem;
  color: var(--p-primary-color);

  transform: rotate(-90deg);
  transform-origin: center center;
}

#home-contact-content-email:hover {
  cursor: pointer;
  color: color-mix(in srgb, var(--p-accent-color) 70%, var(--p-primary-color));
}

.home-content-line {
  width: 1px;
  height: 100%;

  background: linear-gradient(
    to bottom,
    var(--p-background),
    var(--p-tertiary-color),
    var(--p-secondary-color),
    var(--p-primary-color),
    var(--p-secondary-color),
    var(--p-tertiary-color),
    var(--p-background)
  );
}

/**
 *   Home menu container
 */

#home-menu-container {
  grid-area: menu;
}

#home-menu-content {
  position: sticky;
  top: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}