#home-page-container {
  height: 100vh;
  width: 100%;

}

.home-container {
  height: 100vh;
  width: 100%;
}

/**
 *   Home title
 */


#home-title-container {
  position: relative;

  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--p-surface-color);

  /**
   *   Variables
   */

  --home-container-content-width: 335px;
  --home-container-content-height: 150px;
}

#home-title-container h1 {
  margin: 0;
}

#home-title-container p {
  margin: 0;

  font-size: 0.9rem;
  color: var(--p-accent-color);
}

#home-title-content {
  width: calc(var(--home-container-content-width) - 2px);
  height: calc(var(--home-container-content-height) - 2px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background-color: var(--p-background);
}

/* Home container lines */

.home-title-line {
  position: absolute;
  z-index: 999;

  --start-point: 0.45;
}

#home-title-left-line-v {
  top: 0;
  left: calc(50% - var(--home-container-content-width) / 2);

  width: 1px;
  height: calc(50% + var(--home-container-content-height) / 2);

  transform-origin: bottom;

  background: linear-gradient(
    to bottom,
    var(--p-surface-color),
    var(--p-tertiary-color),
    var(--p-secondary-color),
    var(--p-primary-color),
    var(--p-fifth-color)
  );
}

#home-title-left-line-v-container {
  --dir-y: -1;
  --dir-x: 1;
}

#home-title-left-line-h {
  top: calc(50% - var(--home-container-content-height) / 2);
  left: calc(50% - var(--home-container-content-width) / 2);

  width: calc(50% + var(--home-container-content-width) / 2);
  height: 1px;

  transform-origin: left;

  background: linear-gradient(
    to left,
    var(--p-surface-color),
    var(--p-tertiary-color),
    var(--p-secondary-color),
    var(--p-primary-color),
    var(--p-fifth-color)
  );
}

#home-title-left-line-h-container {
  --dir-y: 1;
  --dir-x: 1;
}

#home-title-right-line-v {
  top: calc(50% - var(--home-container-content-height) / 2);
  left: calc(50% + var(--home-container-content-width) / 2);

  width: 1px;
  height: calc(50% + var(--home-container-content-height) / 2);

  transform-origin: top;

  background: linear-gradient(
    to top,
    var(--p-surface-color),
    var(--p-tertiary-color),
    var(--p-secondary-color),
    var(--p-primary-color),
    var(--p-fifth-color)
  );
}

#home-title-right-line-v-container {
  --dir-y: 1;
  --dir-x: -1;
}

#home-title-right-line-h {
  top: calc(50% + var(--home-container-content-height) / 2);
  left: 0;

  width: calc(50% + var(--home-container-content-width) / 2);
  height: 1px;

  transform-origin: right;

  background: linear-gradient(
    to right,
    var(--p-surface-color),
    var(--p-tertiary-color),
    var(--p-secondary-color),
    var(--p-primary-color),
    var(--p-fifth-color)
  );
}

#home-title-right-line-h-container {
  --dir-y: -1;
  --dir-x: -1;
}

/**
 *   Home content 1
 */

.home-container h2 {
  color: var(--p-surface-title);
}

.home-container p {
  font-size: 0.8rem;
}

.surface {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--p-surface-color);
}

#home-content1-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-content1 {
  width: 60vw;
}
