<div id="home-page-container"
  (wheel)="$wheelEvent.set($event)"
  [style.overflow]="state().is(StateEntry) || state().is(StateIntro) ? 'auto' : 'auto'"
>
  <div id="home-title-container" class="home-container">

    <!-- Left vertical line -->
    <div id="home-title-left-line-v-container">
      <div
        class="home-title-line"
        id="home-title-left-line-v"
      ></div>
    </div>

    <!-- Left horizontal line -->
    <div id="home-title-left-line-h-container">
      <div
      class="home-title-line"
        id="home-title-left-line-h"
      ></div>
    </div>

    <!-- Content -->
    <div id="home-title-content">
      <h1>Florian Alzaix</h1>
      <p>Freelance full stack development</p>
    </div>

    <!-- Right vertical line -->
    <div id="home-title-right-line-v-container">
      <div
        class="home-title-line"
        id="home-title-right-line-v"
      ></div>
    </div>

    <!-- Right horizontal line -->
    <div id="home-title-right-line-h-container">
      <div
        class="home-title-line"
        id="home-title-right-line-h"
      ></div>
    </div>
  </div>
  <div id="home-projects-container">
    @for (project of projects(); track project.title) {
      <div class="home-project-container">
        <h2>{{ project.title }}</h2>
        <p>{{ project.goal }}</p>
      </div>
    }
  </div>
</div>
