/**
 *   Entry
 */


@keyframes titleLinesTranslating {
  0% {
    opacity: 0;
    transform:
    translate(
      calc(
        var(--dir-x) * var(--home-container-content-width) / 2
      ),
      calc(
        var(--dir-y) * var(--home-container-content-height) / 2
      )
    )
    scale(
      calc(
        1 + (-1 + var(--start-point)) *
        (1 + var(--dir-x) * var(--dir-y)) /2
      ),
      calc(
        1 + (-1 + var(--start-point)) *
        (1 - var(--dir-x) * var(--dir-y)) /2
      )
    );
  }
  70% {
    opacity: 1;
    transform:
    translate(
      calc(
        var(--dir-x) * var(--home-container-content-width) / 2
      ),
      calc(
        var(--dir-y) * var(--home-container-content-height) / 2
      )
    )
    scale(
      calc(
        1 + (-1 + var(--start-point)) *
        (1 + var(--dir-x) * var(--dir-y)) /2
      ),
      calc(
        1 + (-1 + var(--start-point)) *
        (1 - var(--dir-x) * var(--dir-y)) /2
      )
    );
  }
  100% {
    opacity: 1;
    transform:
    translate(0, 0)
    scale(
      calc(
        1 + (-1 + var(--start-point)) *
        (1 + var(--dir-x) * var(--dir-y)) /2
      ),
      calc(
        1 + (-1 + var(--start-point)) *
        (1 - var(--dir-x) * var(--dir-y)) /2
      )
    );
  }
}

.titleLinesTranslating {
  animation: titleLinesTranslating var(--entry-duration) ease-in-out;
}

@keyframes titleContainerAppearing {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  71% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.titleContainerAppearing {
  animation: titleContainerAppearing calc(var(--entry-duration) + 0.05s) ease-in-out;
}

/**
 *   Intro
 */

 .titleLinesScaling {
  transform: scale(
    calc(
      1 + (-1 + var(--scale-value)) *
      (1 + var(--dir-x) * var(--dir-y)) /2
    ),
    calc(
      1 + (-1 + var(--scale-value)) *
      (1 - var(--dir-x) * var(--dir-y)) /2
    )
  );

  transition: transform 0.1s ease-in;

  --scale-value: calc(
    var(--start-point) +
    var(--intro-progress) * (1 - var(--start-point))
  );
  will-change: transform;
}
