@import url('https://fonts.cdnfonts.com/css/cascadia-code');

* {
  font-family: 'Cascadia Code', monospace;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--p-surface-color) var(--p-background);

  overflow: hidden;
}

html, body {
  margin: 0;
  font-family: Roboto,"Helvetica Neue", sans-serif;
  background: var(--p-background);

  overflow: hidden;
}

h1 {
  color: var(--p-h1-color);
}

h2 {
  color: var(--p-h2-color);
}
