@import url('https://fonts.cdnfonts.com/css/cascadia-code');
@import "primeicons/primeicons.css";

* {
  font-family: 'Cascadia Code', monospace;
  font-weight: 100;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--p-surface-color) var(--p-background);
}

html, body {
  margin: 0;

  font-family: Roboto,"Helvetica Neue", sans-serif;
  background: var(--p-background);

  overflow: hidden;

  transition: all 0.5s ease-in-out;
}

h1 {
  color: var(--p-text-h1-color);
}

h2 {
  margin: 0;

  color: var(--p-text-h2-color);
  font-weight: 900;
}

.surface {
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--p-surface-color);
  border: 1px solid;
  border-image: linear-gradient(
    45deg,
    var(--p-background),
    var(--p-tertiary-color),
    var(--p-secondary-color),
    var(--p-primary-color),
    var(--p-background)
  ) 1;
}

.surface-h2 {
  color: var(--p-surface-title);

  font-size: 2.7rem;
}

.p-fieldset {
  color: var(--p-text-p-color);
  background-color: transparent;
  border-radius: 0;
  border-color: var(--p-surface-border);
}

.p-fieldset-legend {
  background-color: var(--p-surface-color);
}

.p-fieldset-legend-label {
  font-weight: 900;
  color: var(--p-text-p-title);
}

.p-fieldset p {
  font-size: 0.8rem;
}

.full-screen-close-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

.p-dialog {
  width: 50%;
  border-radius: 0 !important;
}

@media (max-width: 1024px) {
  .p-dialog {
    width: 90%;
  }
}

.p-dialog-title {
  font-size: 3rem;
  color: var(--p-primary-color);
}

.p-dialog-content {
  white-space: normal;
  word-wrap: break-word;
}

@media (max-width: 1024px) {
  .p-dialog-content {
    margin-bottom: 50px;
  }
}

@media (max-width: 1024px) {
  .p-toast {
    max-width: 90%;
  }
}

.p-button {
  border-radius: 0 !important;
}