@import url('https://fonts.cdnfonts.com/css/cascadia-code');

* {
  font-family: 'Cascadia Code', monospace;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--p-surface-color) var(--p-background);

  overflow: hidden;
}

html, body {
  margin: 0;
  font-family: Roboto,"Helvetica Neue", sans-serif;
  background: var(--p-background);

  overflow: hidden;
}

h1 {
  color: var(--p-text-h1-color);
}

h2 {
  margin: 0;

  color: var(--p-text-h2-color);
}

.box {
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--p-surface-border);
}

.p-fieldset {
  background-color: transparent;
  border-radius: 0;
  border-color: var(--p-surface-border);
}
